@font-face {
  font-family: 'pricedown';
  /* Name your font family */
  src: url('./fonts/pricedownbl.ttf');
  /* Locate the .ttf file within your directory*/
}

#location {
  /*Using "#" means that the class is an id.*/
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  font-size: 16px;
  font-family: 'pricedown';
  width: 300px;

  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.wallet {
  width: 75px;
  margin-left: auto;
  margin-top: 80px;
  margin-right: 10px;
  white-space: nowrap;
  direction: rtl;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 255);
}

#player-wallet {
  color: white;
  font-family: 'pricedown';
  font-size: 28px;
  text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000, -2.5px 2.5px 0 #000, 2.5px 2.5px 0 #000;
}

#currency-sign {
  font-size: 30px;
  color: green;
  font-weight: bolder;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}