.profile-photo {
  /*Using "." means that the class is a class.*/
  width: 75px;

  position: absolute;

  bottom: 30px;
  right: 30px;
}

#location {
  /*Using "#" means that the class is an id.*/
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  width: 300px;

  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.destinations {
  margin-top: 20px;
}

#destination-submit,
#destination-cancel {
  border-color: aquamarine;
  border-width: 3px;
}